.defined-alert-card {
  padding: 0.25rem 0.5rem 0.5rem;
  border-radius: 8px;

  &.dac-10 {
    background: linear-gradient(-45deg, #f00 0%, #ff181872 100%);
  }

  &.dac-20 {
    background: linear-gradient(-45deg, #f90 0%, #ffa31872 100%);
  }

  &.dac-30 {
    background: linear-gradient(-45deg, #ffe502 0%, #faec6a 100%);
  }

  &.dac-40 {
    background: linear-gradient(-45deg, #1890ff 0%, #1890ff72 100%);
  }

  &.is-active {
    box-shadow: 4px 4px 5px 0 rgb(0 0 0 / 20%);
  }

  .df-card-header {
    font-size: 0.8rem;
    line-height: 22px;
    margin-block-end: 7px;

    & > span {
      max-height: 44px;
      // word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: box;
      -webkit-box-orient: vertical;
    }
  }

  .df-card-body {
    padding-inline: 0.38rem;
    padding-block: 0.36rem;
    border-radius: 4px;
    background-color: rgb(255 255 255 / 50%);

    .text {
      font-size: 0.63rem;
    }

    .value {
      font-size: 0.8rem;
    }
  }
}
